body > header {
  display: flex;
  height: 520px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #eb6105;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  margin-bottom: 20px;
}

header > div {
  font-family: 'Source Sans 3', sans-serif;
}

.bold {
  font-weight: bold;
}
