.new__tweet {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/* .new__tweet__form {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #4056a1;
  font-weight: 600;
  
} */

.form__header {
display: flex;
flex-direction: column;
border-bottom: 5px solid #4056a1;
font-weight: 400;
}

.form__header > textarea {
  height: 40px;
  color: orchid;
  background-color: transparent;
}

.form__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin-top: 10px;
  width: 100%;
}



.form__footer > form__input {
  background-color: #4056a1;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1em;
  width: 7rem;
  height: 2.5rem;
}

.count {
  display: flex;
  padding-right: 2rem;

}

.form--red {
  color: #ff0000;
}

.error__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: red;
  margin-bottom: 8px;
}